VITE_MEDPLUM_BASE_URL=https://api.ehr.hiivehealth.net/
VITE_MEDPLUM_PROJECT_ID=7e472dfd-3ab9-4b75-adac-38e0c5c5d6c8
VITE_MEDPLUM_CLIENT_ID=b9cedb18-971b-489e-afbd-07fa429f66dd
VITE_MEDPLUM_GOOGLE_CLIENT_ID=
VITE_MEDPLUM_RECAPTCHA_SITE_KEY=